*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/androidTest/
/app/src/test/
/customchildlayout/src/androidTest/
/customchildlayout/src/test/
/customchildlayout/build/

